<html lang="en">
  <!DOCTYPE html>
  <html lang="en">
    <%- include('./partials/head.ejs')%>

    <body>
      <%- include('./partials/nav.ejs')%>
      <h1>Hello there</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae eos
        aliquid, eveniet dolorum vitae sint, repellendus dolor eum eaque quae
        est vel deserunt alias quia necessitatibus iste facere atque eius!
      </p>
      <%- include('./partials/footer.ejs')%>
    </body>
  </html>
</html>
