<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <h3>For more information call (090)0989 12123</h3>
    <form action="POST">
      <p>Name:</p>
      <input type="text" />
      <input type="button" value="send" />
    </form>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
